.panel {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 500px;
  height: 600px;
  border: 1px solid black;
}

.panel__container {
  height: 100%;
}

.panel__header {
  padding: 0.5rem;
}

.panel__content {
  padding: 0.5rem;
}
